
form{
    background: #6be271;
    border-radius: 10px;
    line-height: normal;

}

.contact__info-Email input,
.contact__info-name input,
.contact__info-message textarea{
    padding: 7px 13px;
    border-radius: 10px;
    border: none;
    margin-top: 17px;
}

.contact__info-Email input,
.contact__info-name input,
.contact__info-message textarea:focus{
    outline: none;
}

textarea{
    resize: none;
    overflow-y: scroll;
}

@media only screen and (max-width: 390px) {
    form{
        background: #6be271;
        border-radius: 10px;
        line-height: normal;
        margin-right: 15px;
    
    }
}