.main__title__member{
    font-size: 2.5rem;
    text-align:left;
    margin-left: 10%;
}

.conditions__text{
    text-align: left;
    margin-left: 10%;
}

.btns__membership button{
    margin-left: 10%;
}

